/*=========================== Message page css ============================*/
.view-msg:hover {
	text-decoration: none;
}

/*body{margin-top:20px;}*/

.chat-online {
  color: #34ce57
}

.chat-offline {
  color: #e4606d
}

.chat-messages {
  display: flex;
  flex-direction: column;
  max-height: 450px;
  overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0
}

.chat-message-left {
  margin-right: auto
}

.chat-message-right {
  flex-direction: row-reverse;
  margin-left: auto
}

.flex-grow-0 {
  flex-grow: 0!important;
}
.border-top {
  border-top: 1px solid #dee2e6!important;
}

.bg-sender {
  background-color: #ccccff;
}

.bg-receiver {
  background-color: #9999ff;
}
.msg-smily {
  font-size: 1.2rem
}